:host {
  display: block;
}

.pack {
  font-weight: bold;
  padding: 4px;
  margin: 4px;
  background: #eaeaea;
}

.component {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 4px;
  padding: 4px;
  border: 1px solid #eaeaea;
}
